
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-family: Poppins, sans-serif;
  --bg-stale-50: #f8fafc;
  --bg-purple-700: #7e22ce;
  --bg-pink-600: #c026d3;
  --bg-red-700: #b91c1c;
  --bg-blue-800: #1d4ed8;
  --bg-neutral-950: #0a0a0a;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(120deg, var(--bg-purple-700), var(--bg-pink-600));
}

dialog {
  margin: 200px auto;
  border: none;
  border-radius: .5rem;
  background-color: var(--bg-stale-50);
}

form {
  display: grid;
  gap: .5rem;
  padding: 1rem;
}

label {
  font-weight: bold;
}

input {
  outline: none;
  border: 1px solid #cccccc;
  border-radius: .2rem;
  height: 2rem;
  padding-left: .5rem;
}

.start-game-btn {
  font-weight: bold;
  height: 2rem;
  border: none;
  margin-top: .5rem;
  border-radius: .5rem;
  background-color: var(--bg-neutral-950);
  color: var(--bg-stale-50);
}

.new-game-btn {
  font-weight: bold;
  height: 2rem;
  width: 6rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--bg-neutral-950);
  color: var(--bg-stale-50);
}

.result {
  display: none;
  gap: 1.5rem;
  place-items: center;
}

main {
  display: none;
  gap: 1.5rem;
  place-items: center;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: .5rem;
}

.cell {
  height: 7rem;
  aspect-ratio: 1;
  border: none;
  border-radius: .5rem;
  background-color: var(--bg-stale-50);
  font-size: 5rem;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.circle {
  color: var(--bg-red-700);
}

.cross {
  color: var(--bg-blue-700);
}

.restart-game-btn {
  border: none;
  border-radius: .5rem;
  height: 2rem;
  width: 9rem;
  font-weight: bold;
  color: var(--bg-stale-50);
  background-color: var(--bg-neutral-950);
}
